@import "reset.css";
@import "../fonts/fonts.css";
@import "modal.css";

body {
    font-family: "DIN 2014", sans-serif;
    font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header_container {
    background: url('../img/main.jpeg') right top;
    background-size: 135% auto;
    width: 100%;
    height: auto;
}

.header_container__up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header_container__logo {
    width: 250px;
    height: 56px;
    display: flex;
    margin-left: 72px;
    padding-top: 31px;
}

.header_container__logo--pic {
    flex-grow: 1;
    padding-right: 20px;
}

.header_container__logo--pic img {
    width: 58.79px;
    height: 55.21px;
}

.header_container__logo--text {
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #EFEFEF;
    flex-grow: 3;
}

.header_menubar_container {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header_menubar {
    margin: 5px auto 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-style: normal;
    flex-wrap: wrap;
}

.header_menubar a {
    color: #000;
    margin: 0 5px;
}

.header_menubar a:hover {
    color: #F25E5E;
}

.personal_room_container {
    line-height: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #efefef;
    margin-right: 72px;
    padding-top: 40px;
    width: 225px;
    display: flex;
    justify-content: space-between;
}

.personal_room_container img {
    width: 27px;
    height: 27px;
}

.personal_room_container--text {
    height: 30px;
    font-style: normal;
}

.personal_room_container--link {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_text_container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.main_text_container--content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    margin-right: 12%;
}

.main_text_container--text {
    font-weight: bold;
    font-style: normal;
    margin: 130px 0 0 0;
    line-height: 1.5em;
    font-size: 55px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    width: 40%;
}

.main_text_container--button {
    background: #F24444;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #F24444;
    border-radius: 20px;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 50px 0 120px 0;
    transition: .3s;
}

.main_text_container--button:hover {
    transform: scale(.9);
}

.courses_container {
    text-transform: uppercase;
}

.courses_container--title {
    color: #222222;
    line-height: normal;
    font-size: 34px;
    font-weight: bold;
    margin: 60px auto;
    width: fit-content;
}

.courses_container_items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.courses_container--item {
    width: 25%;
}

#calendar {
    margin: 10px 10px 10px 30px;
}

.courses_container--item img {
    margin-left: 15px;
    width: 139px;
    text-align: center;
}

.courses_container--item p {
    margin-top: 10px;
    font-size: 20px;
    color: #222222;
    word-wrap: normal;
    width: 200px;
    text-align: center;
    line-height: 1.3em;
}

.courses_container--button_container {
    width: 100%;
}

.courses_container--button_container a {
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.courses_container--button {
    background: #F24444;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #F24444;
    border-radius: 20px;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: .3s;
    margin-bottom: 50px;
}

.courses_container--button:hover {
    transform: scale(.9);
}

.advert_container {
    background: url('../img/advert-back.jpeg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 116px 0;
    position: relative;
    z-index: 8;
}

.opacity_fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: .3;
    z-index: 9;
}

.advert_container--block {
    background: #FFFFFF;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 66%;
    margin: 0 auto;
    padding: 150px 66px;
    line-height: normal;
    font-size: 30px;
    position: relative;
    z-index: 10000;
}

.advert_container--block p {
    text-indent: 70px;
}

.advert_container--block p:last-child {
    text-align: right;
}

.advert_container--block h1 {
    line-height: normal;
    font-size: 64px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #F24444;
    margin-bottom: 40px;
}

.application_container {
    text-transform: uppercase;
    color: #2A2A2A;
    font-size: 50px;
}

.application_container_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 120px auto;
    font-weight: bold;
}

.application_container_items img {
    width: 242px;
    height: 212px;
}

.application_container_items img:last-child {
    transform: scale(-1, 1);
}

.application_container--content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
}

.application_container--content a {
    width: fit-content;
    margin: 0 auto;
}

.application_container--button {
    color: #ffffff;
    border: 1px solid #F24444;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 30px;
    transition: .3s;
    background: linear-gradient(268.37deg, #F24444 0.37%, rgba(174, 51, 51, 0) 99.72%), #F24444;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    margin-top: 60px;
}

.application_container--button:hover {
    transform: scale(.9);
}

.footer_container {
    background-color: #AE3333;
    color: #efefef;
    height: 300px;
    display: flex;
    align-items: center;
}

.footer_container h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer_container__items {
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: 0 auto 20px;
}

.footer_container__logo {
    width: 30%;
    height: 56px;
    display: flex;
    margin-right: -100px;
}

.footer_container__logo--pic {
    padding-right: 20px;
}

.footer_container__logo--pic img {
    width: 96px;
    height: 90px;
}

.footer_container__logo--text {
    line-height: normal;
    font-size: 30px;
    width: 100%;
    text-transform: uppercase;
    color: #EFEFEF;
}

.footer_container--item-content {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    line-height: 1.7em;
    font-weight: 100;
}

.footer_container--item-content img {
    height: 23px;
    margin-right: 15px;
    margin-top: 8px;
}

@media screen and (max-width: 1492px) {
    .main_text_container--text {
        font-size: 40px;
    }

    .main_text_container--button, .courses_container--button {
        font-size: 27px;
    }

    .header_menubar_container {
        height: 90px;
    }

    .advert_container--block h1 {
        font-size: 50px;
    }

    .advert_container--block, .footer_container__logo--text  {
        font-size: 25px;
    }

    .application_container--button {
        font-size: 18px;
    }

    .application_container--content h1 {
        margin: 0 25px;
    }

}

@media screen and (max-width: 1191px){
    .main_text_container--button {
        margin-bottom: 60px;
    }

    .main_text_container--text {
        margin-top: 50px;
        font-size: 30px;
    }
}